html, body{
    height:100%;
}

.piano-set{
    height:50%;
}

.piano-key{
    height:100%;
    border: 1px solid black;
    font-family: 'Gochi Hand', cursive;
    font-size:50px;
    text-align:center;
}

#lion{
    background: linear-gradient(white, yellow);
}

#cow{
    background: linear-gradient(white, grey);
}

#cat{
    background: linear-gradient(white, orange);
}

#dog{
    background: linear-gradient(white, saddlebrown);
}

#horse{
    background: linear-gradient(white, brown);
}

#bird{
    background: linear-gradient(white, powderblue);
}

#pig{
    background: linear-gradient(white, pink);
}

#chicken{
    background: linear-gradient(white, peru);
}